/* *{
	margin: 0;
	padding: 0;
} */
body{
	background-color: white;
}
.navs {
	overflow: hidden;
	background-color: rgb(218, 19, 224);
  }
.navs a {
	color: white;
	text-align: center;
	font-size: 17px;
	float: left;
	display: block;
	padding: 14px 16px;
	text-decoration: none;
	overflow: hidden;
	/* background-color: rgb(218, 19, 224); */
	margin-left: 90px;
}
     
.navs a:hover {
	background-color: lightblue;
}
nav{
	margin-left: 90px;
}
#read-more, #uno,#duo{
	display: none;
}
  .navs a.active {
	background-color: #4CAF50;
	color: black;
  }
  .navs .icon{
	  display: none;
  }
  
  @media screen and (max-width: 600px) {
	.navs a:not(:first-child) {display: none;}
	.navs a.icon {
	  float: right;
	  display: block;
	}
  }
  

  @media screen and (max-width: 600px) {
	.navs.responsive {position: relative;}
	.navs.responsive .icon {
	  position: absolute;
	  right: 0;
	  top: 0;
	}
	.navs.responsive a {
	  float: none;
	  display: block;
	  text-align: left;
	}
  }

  .our-blog{
	  margin-left: 100px;
	  /* margin-top: 20px; */
	  
  }
  .our-blogs-title{
	  text-align: center;
	  font-size: 34px;
	  font-weight: bold;
  }
  .one-blog{
	  box-shadow: 0px 0px 20px  1px rgba(0, 0, 0, 0.2);
	  margin-top: 30px;
	  padding: 10px;

  }
  .blog-owner{
	  font-size: 18px;
	  margin-bottom: 3px;
	  
  }
  .one-blog img {
	  width: 100%;
  }
  .text-of-blog{
	  font-size: 16px;
	  text-align: justify;
	  /* margin-bottom: 10px; */
  }
  .one-blog h3 {
	  margin-top: 10px;
	  font-size: 18px;
	  color: darkmagenta;
  }
  .one-blog h3 a{
	  text-decoration: none;
  }
  .read-more{
	  background-image: linear-gradient(to right, #1c03b5, #5c8bef);
	  padding: 2px;
	  border-radius: 20px;
	  font-size: 16px;
	  line-height: 2px;
	  color: darkorange;
	  border: none !important;
  }
  @media (max-width: 1200px){
	.navs ul li {
		border-right: none;
		margin-left: 70px;
	  }

  }
  * {box-sizing: border-box}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Float cancel and delete buttons and add an equal width */
.cancelbtn, .deletebtn {
  float: left;
  width: 50%;
}

/* Add a color to the cancel button */
.cancelbtn {
  background-color: #ccc;
  color: black;
}

/* Add a color to the delete button */
.deletebtn {
  background-color: #f44336;
}

/* Add padding and center-align text to the container */
.container {
  padding: 16px;
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .deletebtn {
    width: 100%;
  }
}
  