*{
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-decoration: none;
}
body{
	background-color: #146153!important;
	text-align: center;
	/* margin-left: 90px; */
	
}
@media screen and (max-width: 600px){
	body{
		height: 100vh;
		margin: 0;
		overflow: auto;
		
	}
	.contact-form button{
		position: fixed;
		margin-left: 190px;
		margin-bottom: 80px
		text-align: center;
		float: left;
		/* margin-left: 250px; */
	}
		
	
	
	
	

}

h1{
	color: #13F8CE;
	padding: 50px;

}
p{
	color: white;
	line-height: 30px;
	text-align: center;
	margin-bottom: 20px;
	font-style: bold;
	font-size: 2.5vw;
	
}
h1:hover{
	animation: bounce 2s linear;
	color: darkblue;
}
@keyframes bounce{
	20%,50%,80%,to{
		transform: translateY(0);
	}
	40%{
		transform: translateY(-100px);
	}
	70%{
		transform: translateY(-50px);
	}
}

input[type=text], textarea, input[type=email]{
	background-color: #201D1D;
	height: 100%;
	overflow: auto;
	
}

.name, .email{
	width: 20%;
	padding: 10px;
}
.subject{
	margin-top: 10px;
	width: 42%;
	padding: 10px;
	margin-left: 0;
}

textarea{
	
	width: 44%;
	padding: 50px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 10px;
    	

}
.contact-form button{
	color: #13F8CE;
	background-color: #146153;
	border: 3px solid #13F8CE;
	border-radius: 4px;
    cursor: pointer;
    float: right;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-right: 410px;
	margin-bottom: 50px;
	padding: 5px;
	line-height: 10px;
	display: block;

}
button:hover, p:hover{
	color: darkkhaki;

}
button:hover{
	background-color: #13F8CE;
}
.contact-form i {
    visibility: hidden;
    
}
.contact-form small{
    visibility: hidden;
}
.contact-form .success{
    border-color:  green;
   
}
.contact-form .error{
    border-color: red;
    
}
.contact-form  .success i.fa-check-circle{
    color: green;
	visibility: visible;
	
}
.contact-form  .error i.fa-exclamation-circle{
    color: red;
    visibility: visible;
}
.contact-form.error small{
    color: red;
    visibility: visible;
}


}
