*{
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-decoration: none;
}
body{
	background-color: #605E5E;
		
}

.rain {
	height: auto;
	width: 30%;
	margin-left: 850px;
	margin-top: 100px;
	
	
}
#wall{
	background-color: black;
	float: right;
	font-size: 34px;
	color: #13F8CE;
	text-transform: uppercase;
	margin-right: 0px;
	transform: rotate(15deg);
	text-align: center;
	position: relative;
}

.sider-bar{
	position: fixed;
	left: 0;
	z-index: 1;
	width: 90px;
	height: 100%;
	background: #393535;
	overflow: hidden;
	
	
	
}
.sider-bar  ul a {
	display: block;
	line-height: 40px;
	font-size: 18px;
	color: white;
	
}
.active,.sider-bar  ul a:hover{
	color: #13F8CE;

}
header a img{
	width: 90px;
}





.block{
	position: fixed;
	line-height: 90px;
	margin-left: 90px;
	margin-top: 130px;
	font-size: 50px;
	padding: 0 20px;
	


}
@media screen and (max-width: 1200px) {

	.block{
		font-size: 14px;
		margin-left: 90px;
		line-height: 35px;
		margin-top: 190px;
			

	}
	.sider-bar, header a img{
		width: 66px;
	}
	.sider-bar  ul a{
		/* line-height: 20px; */
		font-size: small;

	}
	.anchor{
		font-size: 14px;
		padding: 5px;
		border: 1px solid;
		border-radius: 5px;
	}
	.rain{
		margin-left: 150px;
		width: 20%;
	}
	button{
		margin-right: -300px;
		/* margin-left: 350px; */
		/* margin-top: 450px; */
	}
		
		
		

	
}	
.white-color{
	color: white;

}
.white-color:hover{
	color: #13F8CE;

}
.span-one{
	text-transform: capitalize;
	color:rgba(195, 17, 239,0.35);


}


.anchor{
	color: #13F8CE;
	border: 3px solid ;
	border-color: #13F8CE;
	padding: 10px;
	border-radius: 15px;
	text-align: center;
	font-size: 18px;
	transition: transform .2s;

}
.anchor:hover{
	background-color: #13F8CE;
	color: black;
	
}


@keyframes letter{
	0%   {left:0px; top:0px;}
	25%  {left:10px; top:0px;}
	50%  {left:100px; top:200px;}
	75%  {left:0px; top:200px;}
	100% {left:0px; top:0px;}

}