*{
	margin: 0;
	padding: 0;
}
body{
	/* background-color: white; */
	margin: 0;
	padding: 0;
}
#admin-header{
	margin-left: 90px;
	width: 100%;
	height: 200px;
	background-color: peru;
	color: black;
}
#admin-header p{
	text-align: center;
	margin-top: 10px;
	font-size: 34px;
	font-weight: 900;
}
#admin-siderbar{
	margin-left: 90px;
	width: 300px;
	height: 400px;
	float: left;
	background-color: cornflowerblue;
	color: white;

}
#blogs{
	margin-left: 90px;
	height: 700px;
	background-color: turquoise;
}
#admin-logo{
	border-radius: 50%;
	width: 7%;
	margin-top: 15px;
	cursor: pointer;
}
#admin-siderbar ul li{
	padding: 30px;
	border-bottom: 3px solid whitesmoke;
}
@media screen and (max-width: 600px){
	#admin-header, #blogs{
		width: 300px;
	}
	#admin-header p{
		font-size: 14px;
		text-align: center;
		margin-top: 50px;
	}
}

/* .navs ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	
  }
  .navs ul li{
	  float: left;
	  /* margin-right: 100px; */
      /* padding-left: 50px;
	  padding-right: 50px; */
	  padding: 10px; 
  }
  .navs ul li a {
	display: block;
	color: white;
	text-align: left;
	padding: 14px 16px;
	text-decoration: none;
	background-color: black;
	float: right;
  }
  .navs ul li a:hover {
	background-color: blue;
  }
  /* .active {
	background-color: #4CAF50;
  } */
  .navs ul li {
	border-right: 1px solid white;
  }
  .navs ul li:last-child {
	border-right: none;
  } */