*{
	margin: 0;
	padding: 0;
}
body{
	background-color: white;
	margin-left: 90px;
}
.navs ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	
  }
  .navs ul li{
	  float: left;
	  /* margin-right: 100px; */
      /* padding-left: 50px;
	  padding-right: 50px; */
	  padding: 10px; 
  }
  .navs ul li a {
	display: block;
	color: white;
	text-align: left;
	padding: 14px 16px;
	text-decoration: none;
	background-color: black;
	float: right;
  }
  .navs ul li a:hover {
	background-color: blue;
  }
  /* .active {
	background-color: #4CAF50;
  } */
  .navs ul li {
	border-right: 1px solid white;
  }
  .navs ul li:last-child {
	border-right: none;
  }