.col-md-4{
    margin-left: 100px;
    padding: 16px 6px;
}
.text-of-blog{
    text-align: left;
    font-size: 16px;
    line-height: 30px;
}
@media (max-width: 1200px){
    .col-md-4{
        margin-left: 70px;
    }
}